{% extends 'base.html.twig' %}

{% block title %}Listes des produits {{ category.name }}
{% endblock %}


{% block body %}


{% include 'widget/nav.html.twig' %}

	<div class="container">
		<div class="row">
            <div class="col-12">
                <h1>Liste des produits de la catégorie {{category.name}} :</h1>
            </div>
            {% for product in products.data %}
            <div class="col-3">
                <article class="card">
                    <img src="{{ asset('assets/uploads/products/mini/300x300-' ~ product.images[0].name) }}" alt="" class="card-img-top">  
                    <div class="card-body">
                        <h2 class="card-title">{{ product.name }}</h2>
                        <p class="card-text">{{product.description}}</p>
                        <a href="{{ path('products_details', {'slug' : product.slug }) }}" class="btn btn-primary">Voir les détails</a>
                    </div>
                </article>
            </div>
            {% endfor %}
            {% set path = 'category_list' %}
            {% set slug = category.slug %}
            {% set pages = products.pages %}
            {% set currentPage = products.page %}
            
        </div>  
	</div>  
	   		{% include 'widget/_pagination.html.twig' %}

{% include 'widget/footer.html.twig' %}
{% endblock %}
